<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="username" class="com.spring.entity.User">
        <property name="user1">
            <value>张嘎说：“三天不打小鬼子，手都痒痒！”</value>
        </property>
        <property name="user2">
            <value>Rod说：“世界上有十种人，认识二进制和不认识二进制的。”</value>
        </property>
    </bean>
</beans>
